<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">
<test name="test1">
<classes>
<class name="class1.class">

</class>
<class name="class2.class">
</class>

</classes>
</test>

<parameter name="" value=""></parameter>
<test name="test2">
<groups>
<run>
<include name="sanity"></include>
<exclude name="regression"></exclude>

</run>

</groups>
</test>
<test name="test3"></test>


</suite>

